:root {
    --cor-principal: rgb(46, 62, 77);
    --cor-secundaria: rgb(222, 228, 235);
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li a {
    background-color: var(--cor-principal);
    color: #FFF;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.content-box {
    height: 100%;
    width: auto;
    border-radius: 10px;
    border: 5px solid var(--cor-principal);
    display: flex;
    flex-direction: row;
}

.content-item {
    height: auto;
    display: flexbox;
    flex-direction: row;
}

table {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
}

td, th {
    padding: 5px 20px;
    border: 2px solid var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
}

td {
    text-align: right;
}

th {
    position: sticky;
    background: rgb(49, 177, 224);
    text-align: center;
}

th:last-child,
td:last-child {
    border-right-width: 4px;
}

tr:last-child td {
    border-bottom-width: 4px;
}

td:first-child {
    border-left-width: 4px;
}

tr:hover {
    background-color: var(--cor-principal);
    color:rgb(222, 228, 235)
}

label {
    text-align: right;
}

.filtros {
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid var(--cor-principal);
}

button {
    display: flexbox;
    font-weight: bold;
}

header {
    border-radius: 10px;
    border: 5px solid var(--cor-principal);
}