{% extends "home.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">AP</th>
            <th scope="col">Gás</th>
            <th scope="col">Água</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        {% for leitura in leituras %}
        <tr>
            <td>{{ leitura.id|e }}</td>
            <td>{{ leitura.apartamento|e }}</td>
            <td>{{ leitura.gas|e }}</td>
            <td>{{ leitura.agua|e }}</td>
            <td>{{ leitura.data|e }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}