<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/html5-qrcode.min.js') }}"></script>
    <script src="{{ url_for('static', path='/validations.js') }}"></script>
    <title>Igara Life</title>
</head>

<body>
    <header>
        <h1>Nova Leitura</h1>
    </header>

    <div class="content-box">
        <nav class="content-item">
            <ul>
                <li>
                    <p><a href="/lista">Consultas</a></p>
                </li>
                <li>
                    <a href="/leitura">Leituras</a>
                </li>
            </ul>
        </nav>


        <div id="qrReader" name="qrReader" style="width: 600px"></div>


        <form method="post" action="/post_leitura">
            <p>{{ msg }}</p>
            <label for="i_ap">Apartamento:</label>
            <input type="number" 
                name="i_ap" 
                id="i_ap" 
                required 
                max="9999"
                inputmode="numeric" 
                placeholder="Registre o QRCode do Apartamento."
                pattern="[0-9]{4}"/>
            <label for="i_gas">GÁS:</label>
            <input type="number" 
                name="i_gas" 
                id="i_gas" 
                min="0" 
                max="99999.999"
                step="0.001" 
                value="0" 
                required 
                inputmode="numeric"
                pattern="[0-9]{8}"/>
            <label for="i_agua">ÁGUA:</label>
            <input type="number" 
                name="i_agua" 
                id="i_agua" 
                min="0" 
                max="9999.999"
                step="0.001" 
                value="0" 
                required 
                inputmode="numeric"
                pattern="[0-9]{7}"/>
            <button>Salvar</button>
        </form>
    </div>

    

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // handle the scanned code as you like, for example:
            console.log(`Code matched = ${decodedText}`, decodedResult);
            document.getElementById('i_ap').value = decodedText;
        }

        function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "qrReader",
            { fps: 10, qrbox: { width: 350, height: 350 } },
        /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
    

</body>
</html>