<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">AP</th>
            <th scope="col">GÁS</th>
            <th scope="col">ÁGUA</th>
            <th scope="col">DATA</th>
        </tr>
    </thead>
    <tbody>
        {% for leitura in leituras %}
        <tr>
            <td>{{ leitura.id|e }}</td>
            <td>{{ leitura.apartamento|e }}</td>
            <td>{{ leitura.gas|e }}</td>
            <td>{{ leitura.agua|e }}</td>
            <td>{{ leitura.data|e }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

